// fonts

$inconsolata: "Inconsolata", monospace;
$normal: 400;
$bold: 700;


/////////
// colors

$dark-gray: #333;

$orange: #ff7300;
$violet: #9900ea;
$yellow: #ffe600;
$red: #ea0000;

$light-gray: #999;
$lighter-gray: #ddd;
$faint-gray: #fcfcfc;


